
<link rel="stylesheet" href="/css/signin.css">

<div class="container">
    <div class="card">
        <img src="/images/bugtracker.png" alt="">
        <span><h2>Bug Tracker</h2></span>
        <form action="/user/createsession" method="post">
            <input type="email" name="email" placeholder="email" required>
            <input type="text" name="password" placeholder="password" required>
            <button type="submit">Signin</button>
        </form>

        <div id="signup">
            <a href="/">
                <p>
                   <u> Signup </u>
                </p>
            </a>
        </div>
    </div>
</div>